<div class="col-10-md">
  <div class="" id="user-playlists">
    <h1>Choose a playlist to shuffle</h1>
    <ul class="list-group list-group-flush" id="playlist-list">
      {{#each playlists}}
      <li class="list-group-item"><a href="#" class="clicker" data-track-size="{{tracks.length}}" data-uri="{{uri}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class="now-playing hidden">
    <a id="switch" href="#" class="btn btn-success button-style">Switch Playlist</a>
    <a id="reshuffle" href="#" class="btn btn-success button-style">Reshuffle Playlist</a>
    <iframe id="iframe" src="" width="" height="" frameborder="0" align="middle" allowtransparency="true"></iframe>
    <a id="deleteShuffles" href="#" class="btn btn-success button-style">Clear Shuffled Playlists</a>
  </div>
</div>
