<div class="login">
  <h1>Welcome to Collin's Spotify Playlist Shuffler</h1>
  <p>Please log in to continue</p>
  <a href="/authorize" name="button" id="login-btn" class="btn btn-success button-style">Login to Spotify</a>
</div>
